*.pyo
*.log
*~
/.cache
/.coverage
/.project
/.pydevproject
/.vagrant
/.idea
/.vscode
__pycache__/
/build/
/dist/
/rohmu.egg-info/
/rpm/
.vagrant
/venv/
/.venv/
/venv3.7/
*.orig
coverage.xml
rohmu-rpm-src.tar
