# same versions than pghoard this must reviewed and pinned
black==23.7.0
mock
mypy==1.5.1
# Same version from pghoard
pylint==2.17.4
botocore
botocore-stubs[essential]
mypy_boto3_s3
pylint-quotes
pytest
pytest-cov
pytest-mock
pytest-timeout
pytest-asyncio
# Same version from pghoard
isort==5.10.1
types-python-dateutil
types-paramiko
types-botocore
types-httplib2
types-mock
types-requests
# Extra stubs
google-api-python-client-stubs
