# Lock mypy to the same major version used in downstream build environments
mypy
# Same version from pghoard
pylint>=2.4.3,<=2.7.2
pylint-quotes
pytest
pytest-cov
# Same version from pghoard
yapf==0.30.0
isort==5.7.0
